## 빅데이터 비즈니스 관점 
- 데이터 많은 회시가 결국 이긴다..
- 데이터를 활용!
  - OPEN API 형태로 돈을 번다.
- API 제공하는 회사는 굉장히 많음
 - 빅테크 기업들은 거의 다 제공 중..

## 공공데이터포털

## 한국도로공사 고속도로 공공데이터포털

In [2]:
import requests

url = "http://data.ex.co.kr/openapi/trtm/realUnitTrtm?key=1308370912&type=json&iStartUnitCode=101&iEndUnitCode=103"

req = requests.get(url)
print(req)

<Response [200]>

In [5]:
json_result = req.json()
json_result

{'count': 805,
 'pageNo': 1,
 'numOfRows': 10,
 'pageSize': 81,
 'realUnitTrtmVO': [{'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230110',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '8.066666666666666',
   'timeMax': '10.833',
   'timeMin': '6.150',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '05:15',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '61',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230110',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '8.166666666666666',
   'timeMax': '10.833',
   'timeMin': '6.566',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '05:20',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '13',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230110',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '8.15',
   'timeMax': '10.716',
   'timeMin': '6.800',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '05:25',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '14',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230110',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '8.125',
   'timeMax': '9.766',
   'timeMin': '6.900',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '05:30',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '96',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230110',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '8.1',
   'timeMax': '9.500',
   'timeMin': '6.900',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '05:35',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '19',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230110',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '8.183333333333334',
   'timeMax': '9.766',
   'timeMin': '7.216',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '05:40',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '31',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230110',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '8.241666666666667',
   'timeMax': '11.283',
   'timeMin': '7.133',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '05:45',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '105',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230110',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '8.333333333333334',
   'timeMax': '10.150',
   'timeMin': '7.700',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '05:50',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '31',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230110',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '8.45',
   'timeMax': '11.283',
   'timeMin': '7.266',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '05:55',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '26',
   'iStartEndStdTypeCode': None},
  {'pageNo': None,
   'numOfRows': None,
   'startUnitCode': '101 ',
   'endUnitCode': '103 ',
   'stdDate': '20230110',
   'sumTmUnitTypeCode': None,
   'startEndStdTypeCode': '2',
   'timeAvg': '8.166666666666666',
   'timeMax': '14.216',
   'timeMin': '7.050',
   'iStartUnitCode': None,
   'iEndUnitCode': None,
   'stdTime': '06  ',
   'startUnitNm': '서울',
   'endUnitNm': '수원신갈',
   'startEndStdTypeNm': '도착기준통행시간',
   'tcsCarTypeName': '1종',
   'tcsCarTypeCode': '1',
   'tcsCarTypeDivName': '소형차',
   'tcsCarTypeDivCode': '1',
   'efcvTrfl': '498',
   'iStartEndStdTypeCode': None}],
 'message': '인증키가 유효합니다.',
 'code': 'SUCCESS'}

- 데이터 가공

In [13]:
cars = json_result['realUnitTrtmVO']
cars
print(type(cars))
print(len(cars))

records = []
for car in cars:
  dic = {}
  dic['data'] = car['stdDate']
  dic['carType'] = car['tcsCarTypeDivName']
  dic['time'] = car['stdTime']
  dic['timeAng'] = car['timeAvg']
  records.append(dic)

records

<class 'list'>
10

[{'data': '20230110',
  'carType': '소형차',
  'time': '05:15',
  'timeAng': '8.066666666666666'},
 {'data': '20230110',
  'carType': '소형차',
  'time': '05:20',
  'timeAng': '8.166666666666666'},
 {'data': '20230110', 'carType': '소형차', 'time': '05:25', 'timeAng': '8.15'},
 {'data': '20230110', 'carType': '소형차', 'time': '05:30', 'timeAng': '8.125'},
 {'data': '20230110', 'carType': '소형차', 'time': '05:35', 'timeAng': '8.1'},
 {'data': '20230110',
  'carType': '소형차',
  'time': '05:40',
  'timeAng': '8.183333333333334'},
 {'data': '20230110',
  'carType': '소형차',
  'time': '05:45',
  'timeAng': '8.241666666666667'},
 {'data': '20230110',
  'carType': '소형차',
  'time': '05:50',
  'timeAng': '8.333333333333334'},
 {'data': '20230110', 'carType': '소형차', 'time': '05:55', 'timeAng': '8.45'},
 {'data': '20230110',
  'carType': '소형차',
  'time': '06  ',
  'timeAng': '8.166666666666666'}]

In [14]:
import pandas as pd

df = pd.DataFrame(records)
df

       data carType   time            timeAng
0  20230110     소형차  05:15  8.066666666666666
1  20230110     소형차  05:20  8.166666666666666
2  20230110     소형차  05:25               8.15
3  20230110     소형차  05:30              8.125
4  20230110     소형차  05:35                8.1
5  20230110     소형차  05:40  8.183333333333334
6  20230110     소형차  05:45  8.241666666666667
7  20230110     소형차  05:50  8.333333333333334
8  20230110     소형차  05:55               8.45
9  20230110     소형차   06    8.166666666666666

## XML 활용

In [15]:
import lxml
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "http://data.ex.co.kr/openapi/trtm/realUnitTrtm?key=1308370912&type=xml&iStartUnitCode=101&iEndUnitCode=103"
result = requests.get(url)
content = result.content
soup = BeautifulSoup(content, "lxml") # html.parser 
# print(soup)
print(soup.prettify())

timeAvg_lists = soup.find_all("timeavg")
stddate_lists = soup.find_all("stddate")
stdtime_lists = soup.find_all("stdtime")

avgTime = []
stddate = []
stdtime = []
for timeAvg, date, time in zip(timeAvg_lists, stddate_lists, stdtime_lists):
  print(timeAvg, date, time)
  # print(time.get_text())
  avgTime.append(timeAvg.get_text())
  stddate.append(date.get_text())
  stdtime.append(time.get_text())

df = pd.DataFrame({
    "date": stddate, 
    "time": stdtime, 
    "avgTime": avgTime
})

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<html>
 <body>
  <data>
   <code>
    SUCCESS
   </code>
   <message>
    인증키가 유효합니다.
   </message>
   <count>
    805
   </count>
   <numofrows>
    10
   </numofrows>
   <pageno>
    1
   </pageno>
   <pagesize>
    81
   </pagesize>
   <realunittrtmvo>
    <efcvtrfl>
     29
    </efcvtrfl>
    <endunitcode>
     103
    </endunitcode>
    <endunitnm>
     수원신갈
    </endunitnm>
    <startendstdtypecode>
     2
    </startendstdtypecode>
    <startendstdtypenm>
     도착기준통행시간
    </startendstdtypenm>
    <startunitcode>
     101
    </startunitcode>
    <startunitnm>
     서울
    </startunitnm>
    <stddate>
     20230110
    </stddate>
    <stdtime>
     00:05
    </stdtime>
    <tcscartypecode>
     1
    </tcscartypecode>
    <tcscartypedivcode>
     1
    </tcscartypedivcode>
    <tcscartypedivname>
     소형차
    </tcscartypedivname>
    <tcscartypename>
     1종
    </tcscartypename>
    <timeavg>
     7.85
    </timeavg>
    <timemax>
     9.916
    </timemax>
    <timemin>
     5.950
    </timemin>
   </realunittrtmvo>
   <realunittrtmvo>
    <efcvtrfl>
     105
    </efcvtrfl>
    <endunitcode>
     103
    </endunitcode>
    <endunitnm>
     수원신갈
    </endunitnm>
    <startendstdtypecode>
     2
    </startendstdtypecode>
    <startendstdtypenm>
     도착기준통행시간
    </startendstdtypenm>
    <startunitcode>
     101
    </startunitcode>
    <startunitnm>
     서울
    </startunitnm>
    <stddate>
     20230110
    </stddate>
    <stdtime>
     00:15
    </stdtime>
    <tcscartypecode>
     1
    </tcscartypecode>
    <tcscartypedivcode>
     1
    </tcscartypedivcode>
    <tcscartypedivname>
     소형차
    </tcscartypedivname>
    <tcscartypename>
     1종
    </tcscartypename>
    <timeavg>
     7.683333333333334
    </timeavg>
    <timemax>
     11.150
    </timemax>
    <timemin>
     5.833
    </timemin>
   </realunittrtmvo>
   <realunittrtmvo>
    <efcvtrfl>
     258
    </efcvtrfl>
    <endunitcode>
     103
    </endunitcode>
    <endunitnm>
     수원신갈
    </endunitnm>
    <startendstdtypecode>
     2
    </startendstdtypecode>
    <startendstdtypenm>
     도착기준통행시간
    </startendstdtypenm>
    <startunitcode>
     101
    </startunitcode>
    <startunitnm>
     서울
    </startunitnm>
    <stddate>
     20230110
    </stddate>
    <stdtime>
     00
    </stdtime>
    <tcscartypecode>
     1
    </tcscartypecode>
    <tcscartypedivcode>
     1
    </tcscartypedivcode>
    <tcscartypedivname>
     소형차
    </tcscartypedivname>
    <tcscartypename>
     1종
    </tcscartypename>
    <timeavg>
     7.583333333333333
    </timeavg>
    <timemax>
     12.616
    </timemax>
    <timemin>
     5.750
    </timemin>
   </realunittrtmvo>
   <realunittrtmvo>
    <efcvtrfl>
     93
    </efcvtrfl>
    <endunitcode>
     103
    </endunitcode>
    <endunitnm>
     수원신갈
    </endunitnm>
    <startendstdtypecode>
     2
    </startendstdtypecode>
    <startendstdtypenm>
     도착기준통행시간
    </startendstdtypenm>
    <startunitcode>
     101
    </startunitcode>
    <startunitnm>
     서울
    </startunitnm>
    <stddate>
     20230110
    </stddate>
    <stdtime>
     00:00
    </stdtime>
    <tcscartypecode>
     1
    </tcscartypecode>
    <tcscartypedivcode>
     1
    </tcscartypedivcode>
    <tcscartypedivname>
     소형차
    </tcscartypedivname>
    <tcscartypename>
     1종
    </tcscartypename>
    <timeavg>
     7.85
    </timeavg>
    <timemax>
     12.616
    </timemax>
    <timemin>
     5.750
    </timemin>
   </realunittrtmvo>
   <realunittrtmvo>
    <efcvtrfl>
     20
    </efcvtrfl>
    <endunitcode>
     103
    </endunitcode>
    <endunitnm>
     수원신갈
    </endunitnm>
    <startendstdtypecode>
     2
    </startendstdtypecode>
    <startendstdtypenm>
     도착기준통행시간
    </startendstdtypenm>
    <startunitcode>
     101
    </startunitcode>
    <startunitnm>
     서울
    </startunitnm>
    <stddate>
     20230110
    </stddate>
    <stdtime>
     00:10
    </stdtime>
    <tcscartypecode>
     1
    </tcscartypecode>
    <tcscartypedivcode>
     1
    </tcscartypedivcode>
    <tcscartypedivname>
     소형차
    </tcscartypedivname>
    <tcscartypename>
     1종
    </tcscartypename>
    <timeavg>
     7.8
    </timeavg>
    <timemax>
     9.050
    </timemax>
    <timemin>
     6.416
    </timemin>
   </realunittrtmvo>
   <realunittrtmvo>
    <efcvtrfl>
     32
    </efcvtrfl>
    <endunitcode>
     103
    </endunitcode>
    <endunitnm>
     수원신갈
    </endunitnm>
    <startendstdtypecode>
     2
    </startendstdtypecode>
    <startendstdtypenm>
     도착기준통행시간
    </startendstdtypenm>
    <startunitcode>
     101
    </startunitcode>
    <startunitnm>
     서울
    </startunitnm>
    <stddate>
     20230110
    </stddate>
    <stdtime>
     00:20
    </stdtime>
    <tcscartypecode>
     1
    </tcscartypecode>
    <tcscartypedivcode>
     1
    </tcscartypedivcode>
    <tcscartypedivname>
     소형차
    </tcscartypedivname>
    <tcscartypename>
     1종
    </tcscartypename>
    <timeavg>
     7.683333333333334
    </timeavg>
    <timemax>
     11.150
    </timemax>
    <timemin>
     6.250
    </timemin>
   </realunittrtmvo>
   <realunittrtmvo>
    <efcvtrfl>
     23
    </efcvtrfl>
    <endunitcode>
     103
    </endunitcode>
    <endunitnm>
     수원신갈
    </endunitnm>
    <startendstdtypecode>
     2
    </startendstdtypecode>
    <startendstdtypenm>
     도착기준통행시간
    </startendstdtypenm>
    <startunitcode>
     101
    </startunitcode>
    <startunitnm>
     서울
    </startunitnm>
    <stddate>
     20230110
    </stddate>
    <stdtime>
     00:25
    </stdtime>
    <tcscartypecode>
     1
    </tcscartypecode>
    <tcscartypedivcode>
     1
    </tcscartypedivcode>
    <tcscartypedivname>
     소형차
    </tcscartypedivname>
    <tcscartypename>
     1종
    </tcscartypename>
    <timeavg>
     7.616666666666666
    </timeavg>
    <timemax>
     10.150
    </timemax>
    <timemin>
     6.316
    </timemin>
   </realunittrtmvo>
   <realunittrtmvo>
    <efcvtrfl>
     83
    </efcvtrfl>
    <endunitcode>
     103
    </endunitcode>
    <endunitnm>
     수원신갈
    </endunitnm>
    <startendstdtypecode>
     2
    </startendstdtypecode>
    <startendstdtypenm>
     도착기준통행시간
    </startendstdtypenm>
    <startunitcode>
     101
    </startunitcode>
    <startunitnm>
     서울
    </startunitnm>
    <stddate>
     20230110
    </stddate>
    <stdtime>
     00:30
    </stdtime>
    <tcscartypecode>
     1
    </tcscartypecode>
    <tcscartypedivcode>
     1
    </tcscartypedivcode>
    <tcscartypedivname>
     소형차
    </tcscartypedivname>
    <tcscartypename>
     1종
    </tcscartypename>
    <timeavg>
     7.55
    </timeavg>
    <timemax>
     10.083
    </timemax>
    <timemin>
     5.883
    </timemin>
   </realunittrtmvo>
   <realunittrtmvo>
    <efcvtrfl>
     35
    </efcvtrfl>
    <endunitcode>
     103
    </endunitcode>
    <endunitnm>
     수원신갈
    </endunitnm>
    <startendstdtypecode>
     2
    </startendstdtypecode>
    <startendstdtypenm>
     도착기준통행시간
    </startendstdtypenm>
    <startunitcode>
     101
    </startunitcode>
    <startunitnm>
     서울
    </startunitnm>
    <stddate>
     20230110
    </stddate>
    <stdtime>
     00:35
    </stdtime>
    <tcscartypecode>
     1
    </tcscartypecode>
    <tcscartypedivcode>
     1
    </tcscartypedivcode>
    <tcscartypedivname>
     소형차
    </tcscartypedivname>
    <tcscartypename>
     1종
    </tcscartypename>
    <timeavg>
     7.516666666666667
    </timeavg>
    <timemax>
     10.083
    </timemax>
    <timemin>
     5.883
    </timemin>
   </realunittrtmvo>
   <realunittrtmvo>
    <efcvtrfl>
     14
    </efcvtrfl>
    <endunitcode>
     103
    </endunitcode>
    <endunitnm>
     수원신갈
    </endunitnm>
    <startendstdtypecode>
     2
    </startendstdtypecode>
    <startendstdtypenm>
     도착기준통행시간
    </startendstdtypenm>
    <startunitcode>
     101
    </startunitcode>
    <startunitnm>
     서울
    </startunitnm>
    <stddate>
     20230110
    </stddate>
    <stdtime>
     00:40
    </stdtime>
    <tcscartypecode>
     1
    </tcscartypecode>
    <tcscartypedivcode>
     1
    </tcscartypedivcode>
    <tcscartypedivname>
     소형차
    </tcscartypedivname>
    <tcscartypename>
     1종
    </tcscartypename>
    <timeavg>
     7.55
    </timeavg>
    <timemax>
     8.400
    </timemax>
    <timemin>
     6.666
    </timemin>
   </realunittrtmvo>
  </data>
 </body>
</html>
<timeavg>7.85</timeavg> <stddate>20230110</stddate> <stdtime>00:05</stdtime>
<timeavg>7.683333333333334</timeavg> <stddate>20230110</stddate> <stdtime>00:15</stdtime>
<timeavg>7.583333333333333</timeavg> <stddate>20230110</stddate> <stdtime>00  </stdtime>
<timeavg>7.85</timeavg> <stddate>20230110</stddate> <stdtime>00:00</stdtime>
<timeavg>7.8</timeavg> <stddate>20230110</stddate> <stdtime>00:10</stdtime>
<timeavg>7.683333333333334</timeavg> <stddate>20230110</stddate> <stdtime>00:20</stdtime>
<timeavg>7.616666666666666</timeavg> <stddate>20230110</stddate> <stdtime>00:25</stdtime>
<timeavg>7.55</timeavg> <stddate>20230110</stddate> <stdtime>00:30</stdtime>
<timeavg>7.516666666666667</timeavg> <stddate>20230110</stddate> <stdtime>00:35</stdtime>
<timeavg>7.55</timeavg> <stddate>20230110</stddate> <stdtime>00:40</stdtime>

## 네이버 주식 데이터 수집
- 다중 페이지

In [19]:
!pip install fake_useragent

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting fake_useragent
  Downloading fake_useragent-1.1.1-py3-none-any.whl (50 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 50.4/50.4 KB 3.4 MB/s eta 0:00:00
Requirement already satisfied: importlib-resources>=5.0 in /usr/local/lib/python3.8/dist-packages (from fake_useragent) (5.10.1)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.8/dist-packages (from importlib-resources>=5.0->fake_useragent) (3.11.0)
Installing collected packages: fake_useragent
Successfully installed fake_useragent-1.1.1

In [50]:

import requests
import pandas as pd
from bs4 import BeautifulSoup
from fake_useragent import UserAgent


company_code = '403550'
url = 'https://finance.naver.com/item/sise_day.naver?code=' + company_code

# print(url)

ua = UserAgent()
custom_headers = {
    'user-agent' : ua.ie
}

response = requests.get(url, headers = custom_headers)
response.status_code

soup = BeautifulSoup(response.content, "html.parser")
# print(soup)

last_page = int(soup.select_one('td.pgRR').a['href'].split('=')[2])
# print(last_page)


df = None # 페이지별로 데이터 프레임 누적 병합
count = 0 # break문 작성 위해

# print(url + "{}").format(&page=)



for page in range(1, last_page + 1):
  res = requests.get(f'{url}&page={page}', headers = custom_headers)
  # print(res)
  df = pd.concat([df, pd.read_html(res.text, encoding='euc-kr')[0]], ignore_index=True)
  # if count > 2:
  #   break
  # count += 1

df.dropna(inplace=True)
df.reset_index(drop=True, inplace=True)
df

            날짜       종가     전일비       시가       고가       저가        거래량
0   2023.01.10  19500.0   150.0  19500.0  19650.0  19200.0    53526.0
1   2023.01.09  19650.0    50.0  19600.0  19800.0  19500.0    64668.0
2   2023.01.06  19600.0   750.0  18650.0  19750.0  18650.0    91707.0
3   2023.01.05  18850.0   200.0  19200.0  19600.0  18850.0    64922.0
4   2023.01.04  19050.0     0.0  18950.0  19550.0  18550.0    62912.0
..         ...      ...     ...      ...      ...      ...        ...
92  2022.08.26  27350.0   100.0  27650.0  27800.0  27000.0   654647.0
93  2022.08.25  27250.0   200.0  27350.0  27950.0  27050.0   696401.0
94  2022.08.24  27050.0   100.0  27450.0  28050.0  26600.0  1104666.0
95  2022.08.23  26950.0   650.0  26200.0  29600.0  26150.0  5814508.0
96  2022.08.22  26300.0  1700.0  28000.0  29150.0  25550.0  4495943.0

[97 rows x 7 columns]

In [48]:
import requests
import pandas as pd 
from bs4 import BeautifulSoup
from fake_useragent import UserAgent 

company_code = '403550'
url = 'https://finance.naver.com/item/sise_day.naver?code='+company_code
# print(url)

ua = UserAgent()
custom_headers = {
    'user-agent': ua.ie
}

response = requests.get(url, headers = custom_headers)
response.status_code

soup = BeautifulSoup(response.content, "html.parser")
# print(soup)

last_page = int(soup.select_one('td.pgRR').a['href'].split('=')[-1])
# print(last_page)

df = None # 페이지별로 데이터프레임 누적 병합
count = 0 # break문 작성 위해

# print(url + "&page=2")
for page in range(1, last_page + 1):
  res = requests.get(f'{url}&page={page}', headers = custom_headers)
  # print(res)
  df = pd.concat([df, pd.read_html(res.text, encoding='euc-kr')[0]], ignore_index=True)
  # if count > 2:
  #   break
  # count += 1

df.dropna(inplace=True)
df.reset_index(drop=True, inplace=True)
df

            날짜       종가     전일비       시가       고가       저가        거래량
0   2023.01.10  19500.0   150.0  19500.0  19650.0  19200.0    53526.0
1   2023.01.09  19650.0    50.0  19600.0  19800.0  19500.0    64668.0
2   2023.01.06  19600.0   750.0  18650.0  19750.0  18650.0    91707.0
3   2023.01.05  18850.0   200.0  19200.0  19600.0  18850.0    64922.0
4   2023.01.04  19050.0     0.0  18950.0  19550.0  18550.0    62912.0
..         ...      ...     ...      ...      ...      ...        ...
92  2022.08.26  27350.0   100.0  27650.0  27800.0  27000.0   654647.0
93  2022.08.25  27250.0   200.0  27350.0  27950.0  27050.0   696401.0
94  2022.08.24  27050.0   100.0  27450.0  28050.0  26600.0  1104666.0
95  2022.08.23  26950.0   650.0  26200.0  29600.0  26150.0  5814508.0
96  2022.08.22  26300.0  1700.0  28000.0  29150.0  25550.0  4495943.0

[97 rows x 7 columns]

## 오늘 미션
- 종목코드, 상장회사명을 활용하여 오늘의 주가를 가져오는 코드를 작성하세요.

In [55]:
from bs4 import BeautifulSoup
import requests
from fake_useragent import UserAgent
from datetime import datetime
import time
import pandas as pd

def get_Code(company_code):
    url ="https://finance.naver.com/item/main.nhn?code=" + company_code
    ua = UserAgent()
    headers = { 'User-agent': ua.ie }
    response = requests.get(url, headers=headers)
    soup = BeautifulSoup(response.content, "html.parser")
    return soup
 
def get_Price(company_code):
    soup = get_Code(company_code)
    no_today = soup.select_one('p.no_today')
    print(no_today)
    blind = no_today.select_one('span.blind')
    return blind.text

def create_df(company_code, company_name, prices_list):
  data = pd.DataFrame({"종목코드": company_code, 
                       "상장회사": company_name, 
                       "주가": prices_list})
  return data
 
# 증시 기업코드
company_codes = ["030200", "005930", "068270", "035720"]
company_names = ["KT", "삼성전자", "셀트리온", "카카오"]

if __name__ == '__main__':
    now = datetime.now()
    print("-" * 60)
    print(now)
    print("-" * 60)
    
    prices_list = []
    for elm in company_codes:
        nowPrice = get_Price(elm)
        prices_list.append(nowPrice)

    # print(get_prices)

    stock_data = create_df(company_codes, company_names, prices_list)
    print(stock_data)

    print("-" * 60)

------------------------------------------------------------
2023-01-10 08:34:06.339063
------------------------------------------------------------
<p class="no_today">
<em class="X">
<span class="blind">34,250</span>
<span class="no3">3</span><span class="no4">4</span><span class="shim">,</span><span class="no2">2</span><span class="no5">5</span><span class="no0">0</span>
</em>
</p>
<p class="no_today">
<em class="no_down">
<span class="blind">60,400</span>
<span class="no6">6</span><span class="no0">0</span><span class="shim">,</span><span class="no4">4</span><span class="no0">0</span><span class="no0">0</span>
</em>
</p>
<p class="no_today">
<em class="no_down">
<span class="blind">165,000</span>
<span class="no1">1</span><span class="no6">6</span><span class="no5">5</span><span class="shim">,</span><span class="no0">0</span><span class="no0">0</span><span class="no0">0</span>
</em>
</p>
<p class="no_today">
<em class="no_down">
<span class="blind">60,700</span>
<span class="no6">6</span><span class="no0">0</span><span class="shim">,</span><span class="no7">7</span><span class="no0">0</span><span class="no0">0</span>
</em>
</p>
     종목코드  상장회사       주가
0  030200    KT   34,250
1  005930  삼성전자   60,400
2  068270  셀트리온  165,000
3  035720   카카오   60,700
------------------------------------------------------------