In [3]:
import pandas as pd
print(pd.__version__)

1.5.2

## 데이터 불러오기

In [7]:
data = pd.read_csv("Lemonade2016.csv")
print(type(data))
data

<class 'pandas.core.frame.DataFrame'>

         Date Location  Lemon  Orange  Temperature  Leaflets  Price
0    7/1/2016     Park     97      67           70      90.0   0.25
1    7/2/2016     Park     98      67           72      90.0   0.25
2    7/3/2016     Park    110      77           71     104.0   0.25
3    7/4/2016    Beach    134      99           76      98.0   0.25
4    7/5/2016    Beach    159     118           78     135.0   0.25
5    7/6/2016    Beach    103      69           82      90.0   0.25
6    7/6/2016    Beach    103      69           82      90.0   0.25
7    7/7/2016    Beach    143     101           81     135.0   0.25
8         NaN    Beach    123      86           82     113.0   0.25
9    7/9/2016    Beach    134      95           80     126.0   0.25
10  7/10/2016    Beach    140      98           82     131.0   0.25
11  7/11/2016    Beach    162     120           83     135.0   0.25
12  7/12/2016    Beach    130      95           84      99.0   0.25
13  7/13/2016    Beach    109      75           77      99.0   0.25
14  7/14/2016    Beach    122      85           78     113.0   0.25
15  7/15/2016    Beach     98      62           75     108.0   0.50
16  7/16/2016    Beach     81      50           74      90.0   0.50
17  7/17/2016    Beach    115      76           77     126.0   0.50
18  7/18/2016     Park    131      92           81     122.0   0.50
19  7/19/2016     Park    122      85           78     113.0   0.50
20  7/20/2016     Park     71      42           70       NaN   0.50
21  7/21/2016     Park     83      50           77      90.0   0.50
22  7/22/2016     Park    112      75           80     108.0   0.50
23  7/23/2016     Park    120      82           81     117.0   0.50
24  7/24/2016     Park    121      82           82     117.0   0.50
25  7/25/2016     Park    156     113           84     135.0   0.50
26  7/26/2016     Park    176     129           83     158.0   0.35
27  7/27/2016     Park    104      68           80      99.0   0.35
28  7/28/2016     Park     96      63           82      90.0   0.35
29  7/29/2016     Park    100      66           81      95.0   0.35
30  7/30/2016    Beach     88      57           82      81.0   0.35
31  7/31/2016    Beach     76      47           82      68.0   0.35

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         31 non-null     object
 1   Location     32 non-null     object
 2   Lemon        32 non-null     int64
 3   Orange       32 non-null     int64
 4   Temperature  32 non-null     int64
 5   Leaflets     31 non-null     float64
 6   Price        32 non-null     float64
dtypes: float64(2), int64(3), object(2)
memory usage: 1.9+ KB

In [12]:
d = {"a":1, "b":2}
ser = pd.Series(data = d, index = ["a", "b"])
ser.info()

<class 'pandas.core.series.Series'>
Index: 2 entries, a to b
Series name: None
Non-Null Count  Dtype
--------------  -----
2 non-null      int64
dtypes: int64(1)
memory usage: 32.0+ bytes

In [16]:
data.notna()

     Date  Location  Lemon  Orange  Temperature  Leaflets  Price
0    True      True   True    True         True      True   True
1    True      True   True    True         True      True   True
2    True      True   True    True         True      True   True
3    True      True   True    True         True      True   True
4    True      True   True    True         True      True   True
5    True      True   True    True         True      True   True
6    True      True   True    True         True      True   True
7    True      True   True    True         True      True   True
8   False      True   True    True         True      True   True
9    True      True   True    True         True      True   True
10   True      True   True    True         True      True   True
11   True      True   True    True         True      True   True
12   True      True   True    True         True      True   True
13   True      True   True    True         True      True   True
14   True      True   True    True         True      True   True
15   True      True   True    True         True      True   True
16   True      True   True    True         True      True   True
17   True      True   True    True         True      True   True
18   True      True   True    True         True      True   True
19   True      True   True    True         True      True   True
20   True      True   True    True         True     False   True
21   True      True   True    True         True      True   True
22   True      True   True    True         True      True   True
23   True      True   True    True         True      True   True
24   True      True   True    True         True      True   True
25   True      True   True    True         True      True   True
26   True      True   True    True         True      True   True
27   True      True   True    True         True      True   True
28   True      True   True    True         True      True   True
29   True      True   True    True         True      True   True
30   True      True   True    True         True      True   True
31   True      True   True    True         True      True   True

In [17]:
d = {"a":1, "b":2}
ser = pd.Series(data = d, index = ["a", "b"])
ser.notna()

a    True
b    True
dtype: bool