## 문자열 연산자
- 덧셈과 곱셈 활용

In [2]:
a = 'Hello'
b = 'World'

print(a)
print(b)

Hello
World

In [5]:
c = a + b
print(c)
print(c * 3)

HelloWorld
HelloWorldHelloWorldHelloWorld

## 인덱싱 (Indexing)
- 문자열 범위 지정 및 추출

In [10]:
greeting = 'Hello World!'

print(greeting[0])
print(greeting[3])
print(greeting[-1])
print(greeting[10])

H
l
!
d

## 슬라이싱
- 주피터 노트북에서 마크다운으로 변환 / 마크다운으로 코드셀로 변환 단축키

In [19]:
greeting = 'Hello World!'

print(greeting[:])  # 슬라이싱 [:] 전체를 가져오는 문법
print(greeting[0:5])
print(greeting[4:])
print(greeting[:8])
print(greeting[0:5])
print(greeting[1::2])
print(greeting[::2])
print(greeting[0:5:3])

Hello World!
Hello
o World!
Hello Wo
Hello
el ol!
HloWrd
Hl

## 리스트
- 가장 기본적인 배열 자료형(?) / ArrayList
- 시퀀스 데이터 : 데이터에 순서가 존재함

In [24]:
a = [] # 값이 비어있는 리스트
a_list_func = list() # 값이 비어있는 리스트

print(a)
print(type(a))
print("---------------------------------")
print(a_list_func)
print(type(a_list_func))

[]
<class 'list'>
---------------------------------
[]
<class 'list'>

- 값을 추가한다.

In [80]:
a = [1,2,3,4,5,6,7,8]
print(a)

a = [1,2,3,4,5,6,7,8, ['apple', 'banana', 'carrot'], 'humanedu']

print(a)
print(a[0])
print(a[:9:2])  # 처음부터 9번째 전까지(index가8) 값을 2개씩 끊어 값을 가져오겠다.

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, ['apple', 'banana', 'carrot'], 'humanedu']
1
[1, 3, 5, 7, ['apple', 'banana', 'carrot']]

- a 리스트 안에 있는 banana 문자열에서 맨 마지막 글자 a를 추출한다.
- 중첩 리스트 : list안에 또다른 list가 존재함.

In [63]:
b = a[8]
c = b[1]
print(c[-1])

a

In [64]:
b = a[8][1][-1]
print(b)

a

- a 리스트 안에 있는 carriot 문자열에서 맨 마지막 글자 o를 추출한다.

In [69]:
b = a[8][2][4]
# 또는 b = a[8][2][-2]

print(b)

o

- a 리스트 안에 있는 humandeu 문자열에서 맨 마지막 글자 u를 추출한다.

In [81]:
b = a[9]
c = b[1]
print(c)
# 또는  b = a[9][1]
# print(b)

u

## 리스트 연산자
- 덧셈, 곱셈 적용 후 결과 확인

In [86]:
a = [1,2,3]
b = [4,5,6]

print(a+b)

[1, 2, 3, 4, 5, 6]

In [87]:
a = [1,2,3]

print(a * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

## 리스트 값 수정하기
- 리스트 내 원소의 값을 수정한다.

In [88]:
a = ['a', 'b', 'a', 'a']
a[1] = 'a'
print(a)

['a', 'a', 'a', 'a']

## 리스트 클래스 내부의 여러 함수
- 참조 : https://docs.python.org/3/tutorial/datastructures.html